.header {
  background-image: url("../../images/desktop/image-header.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav__item {
  color: hsl(0, 0%, 100%);
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.nav__items {
  display: flex;
}
.nav__item {
  list-style: none;
  padding: 1rem;
}
.navbar h1 {
  color: hsl(0, 0%, 100%);
}
.logo {
  margin: 1rem;
}
.nav__item--active {
  background-color: hsl(0, 0%, 100%);
  color: #000;
  border-radius: 2rem;
}
